html,
body {
    height: 100%;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,500;1,300&display=swap');
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;

}

/* start header*/
.logo {

    font-size: 45px;
    font-weight: bold;
    margin: 40px 40px;
    display: flex;
}


.nav-cont {
    background-color: #FFF4E7;
  
}

.nav-items {
    display: flex;
    list-style: none;

}

.nav-item {
    font-size: 18px;
    margin-right: 15px;
    padding: 5px;

}


.nav-banner {
    display: flex;

}

.nav-banner ul {
    margin-top: 50px;
    position: absolute;
    width: 477px;
    height: 26px;
    left: 1000px;
    top: 63px;
}

.nav-banner ul li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

.nav-banner ul li,
button {

    margin: 20px 20px;
    padding: 0px;

}

.sec-sec {

    text-align: center;
    margin-right: 100px;
    margin-top: 150px;


}

.title {
    text-align: center;
    color: #131313;
    font-weight: bold;
    font-size: 45px;

}

.title p {
    font-size: 16px;
}

.title-btn {
    background-color: #FF900E;
    color: #ffff;
    height: 64px;
    width: 180px;
    border: none;
    border-radius: 5px;
}

.banner-img img {
    width: 1440px;
    height: 700px;

}

.banner-img {
    text-align: center;
}

/* end header*/
/* start start Features sechtion*/
.main {
    margin-right: 20px;
    display: flex;
}


.Features-text {
    height: 106px;
    width: 468px;
    margin: 260px 30px;
}

.Features-text h3 {
    font-size: 45px;
    margin: 50px 10px;
}

.features-btn {
    width: 180px;
    height: 62px;
    background-color: #FF900E;
    color: #ffff;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.Features-img-up {
    display: flex;
    margin: 50px 120px;
}

.img-all {
    border-radius: 3px;
    height: 342px;
    width: 342px;
    text-align: center;

}

.Features-img-down {
    display: flex;
    margin: -30px 120px;
}

.ql {
    color: #727272;
    font-size: 45px;

}

.oo {
    color: #131313;
    font-size: 45px;
    font-weight: bold;
}

.f {
    color: #FF900E;
    font-size: 45px;
    font-weight: bold;
}

.enjoy-main {
    display: flex;
    height: 1060px;
    width: 1440px;
    margin-top: 50px;
}

.enjoy-img {
    width: 100%;
    position: absolute;
    display: block;
    margin-left: auto;

}

.enjoy-img img {
    height: 1060px;
    width: 800px;
    margin: 40px 120px;
}

.enjoy-text {
    width: 582px;
    height: 982px;
    margin: 50px 120px;

}

.enjoy-text h2 {
    font-size: 45px;
    font-weight: bold;
}

/* end Features sechtion*/
.some-f {
    margin: 40px 120px;

}

.some-f h2 {
    font-weight: bold;
    font-size: 45px;
}

.some-f p {
    font-size: 16px;
}

.some-box {
    display: flex;
    margin: 50px 120px;
    text-align: center;

}

/* Our_Sponsports section */
.Our_Sponsports {
    width: 542px;
    height: 129px;
    text-align: center;
    margin: 50px 450px;
}

.company-img img {
    height: 50px;
    width: 153px;
    margin: 20px 70px;
    text-align: center;
}

.company-img {
    display: flex;
}

.footer-secation {
    text-align: center;
    height: 80px;
    width: 1440px;
    margin: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #FFF4E7;
    color: #727272;
    padding-top: 80px;
}

@media screen and (max-width: 576px) {
    
    .logo {
        font-size: 20px;
        font-weight: bold;
        margin: 40px 15px;
       
    }
    .nav-banner {
        /* display: flex; */
    
    }
    .nav-banner ul {
    margin-top: 50px;
    height: 26px;
    top: 63px;
}
.nav-banner ul li a {
    display: table-column-group;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}
}
